* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Inter", sans-serif;
    font-size: 62.5%;

    --bg-primary-color: #F4F5FB;
    --bg-secondary-color: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    --content-primary-color: #080B12;
    --content-secondary-color: #374151;
    --content-tertiary-color: #9CA3AF;

    --always-white: #FFFFFF;

    --border-primary-color: #D1D5DB;
    --border-hover-color: #B9C2D0;

    background-color: var(--bg-primary-color);
}
  
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background-color: #1f2151;
}
  
::-webkit-scrollbar-thumb {
    background-color: #2f3279;
}

#app {
    max-width: 680px;
    margin: 0 auto;
    padding: 2.5rem;
}

body {
    width: 100%;
    height: 100vh;
}

    /* header */
/* ícones do canto superior direito da tela */
.icons {
    display: flex;
    justify-content: flex-end;

    gap: 2rem;
}

.icons img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
    
.icons img:hover {
    transform: scale(1.1);
}

/* logotipo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2.5rem auto 6.2rem;
    
    transition: transform 0.2s ease-in-out;
}
 
.logo:hover {
    transform: scale(1.1);
    filter: brightness(1.75);
}

/* botao de voltar ao menu principal */
.back-link {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;

    display: inline; /* faz com que o link ocupe apenas o espaço do texto */
    align-items: center;
    color: var(--color-brand);

    transition: transform 0.2s ease-in-out;

    text-decoration: none;
    cursor: pointer;
}
    
.back-link:hover {
    font-weight: 700;
}

/* título */
.title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;

    margin: 1.6rem auto 4.4rem 0;
}

/* campo de busca de novo item*/
.add-item {
    display: flex;
    justify-content: center;
    gap: 1.6rem;

    margin-bottom: 4.0rem;
}

#new-item {
    width: 100%;
    height: 4.4rem;
    padding: 1.1rem 1.8rem;

    font-size: 1.6rem;

    white-space: nowrap;

    border-radius: 1.2rem;
    border: 1px solid var(--border-primary-color);
    color: var(--content-tertiary-color);

    background-color: var(--bg-secondary-color);
    transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}

#new-item:hover {
    border-color: var(--border-hover-color);
    color: var(--content-secondary-color);
}

#new-item:focus {
    border: 1px solid var(--color-brand);
    color: var(--content-primary-color);
    outline: none; /* remove a borda azul padrão do navegador */
}

/* botão de adição para novo item */
button {
    width: 16rem;
    height: 4.4rem;

    padding: 1.2rem 2.4rem;

    white-space: nowrap;

    border-radius: 1.2rem;
    border: 1px solid var(--color-brand);
    background-color: var(--color-brand);
    color: var(--always-white);

    transition: background-color 0.5s ease-in-out;

    cursor: pointer;
}

button:hover {
    background-color: var(--color-brand-hover);
    color: var(--always-white);
}

    /* main */    
/* itens adicionados */
.items {
    gap: 1.2rem 0;
}

.item, #warning {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    white-space: nowrap;

    border-radius: 1.2rem;
    border: 1px solid var(--border-primary-color);
    color: var(--content-tertiary-color);
    
    background-color: var(--bg-secondary-color);
    transition: border 0.2s ease-in-out, color 0.2s ease-in-out;

    margin: 1.2rem 0;
}

.item:hover {
    border-color: var(--border-hover-color);
    color: var(--content-secondary-color);
}

.item input[type="checkbox"] {
    appearance: none; /* remove o estilo padrão */
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.8rem 1.2rem;

    border: 2px solid var(--border-primary-color);
    border-radius: 0.6rem;
    background-color: var(--bg-secondary-color);

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.item input[type="checkbox"]:hover {
    border-color: var(--border-hover-color);
}

.item input[type="checkbox"]:checked {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    position: relative;
}

.item input[type="checkbox"]::after {
    content: "✔";
    font-size: 1rem;
    color: var(--always-white);
    display: none;
}

.item input[type="checkbox"]:checked::after {
    display: block;
}

.item span, #warning {
    font-size: 1.6rem;
    line-height: 2.0rem;
    font-weight: 600;

    height: 5.0rem;

    flex-grow: 1; /* faz o texto ocupar o espaço restante */

    padding: 0.8rem 0;
    color: var(--content-secondary-color);

    display: flex;
    align-items: center;
}

.item .trash-bin {
    margin: 0.8rem 1.2rem;
    cursor: pointer;
}

.item:has(input[type="checkbox"]:checked) {
    border: 1px solid var(--color-brand);
    color: var(--content-primary-color);
}

    /* footer */
/* messagem que aparece ao excluir um item */
.hidden {
    display: none;
}

#warning {
    color: var(--always-white);
    background-color: var(--color-danger);

    border: 1px solid var(--color-danger);

    padding: 0 1.2rem;
    height: 4.4rem;

    transition: background-color 0.2s ease-in-out;

    margin-top: 3.6rem;
}

#warning:hover {
    background-color: #b41f2e;

    border: 1px solid  #b41f2e;
}

#warning p {
    font-size: 1.6rem;
    line-height: 2.0rem;
    font-weight: 500;

    height: 4.4rem;

    flex-grow: 1; /* faz o texto ocupar o espaço restante */

    padding: 0.8rem;

    display: flex;
    align-items: center;
}

#warning svg path {
    fill: var(--always-white); /* deixar a cor do svg branco */
}

#warning .exit {
    cursor: pointer;
}

    /* versão mobile para 390px ou menos */
@media (max-width: 390px) {
    .logo {
        display: none; /* esconde a logo no header */
    }

    .icons {
        margin-bottom: 5rem;
    }

    .add-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-item input {
        width: 100%;
    }

    .add-item button {
        width: 100%;
    }

    #add-item-form input,
    #items-list span,
    #warning p {
        font-size: 1.2rem;
        line-height: 1.6rem; /* ajusta a altura da linha para melhor legibilidade */
        text-align: center; /* centraliza o texto */
        word-wrap: break-word; /* quebra o texto corretamente */
        white-space: normal; /* permite a quebra de linha */
    }
}